{% extends "commodity/foot.html" %}
{% load static %}
{% block head_content %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>超市</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    {#        <meta http-equiv="Cache-Control" content="no-siteapp" />#}
    {#        <link rel="icon" type="image/png" href="/theme/default/images/favicon.png">#}
    <link href="{% static "css/amazeui.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
    <script src="{% static "js/jquery-1.10.2.min.js" %}"></script>
    <script src="{% static "js/time.js" %}"></script>
    <script src="{% static "js/popup.mini.js" %}"></script>
    </head>
    <body>
    <header data-am-widget="header" class="am-header am-header-default sq-head1">
        <div class="am-header-left am-header-nav">
            <a href="city.html" class="" style="color: #fff;">
                <img src="{% static "images/city.png" %}"/>
                <p style="font-size: 12px; margin-top: -35px;">南昌</p>
            </a>
        </div>
        <h1 class="am-header-title1">
            <div class="search-box">

                <a href="{% url "commodity:首页搜索" %}" class="index-search">南昌大学前湖校区</a>
                <!--  <input type="submit" value="" class="search-icon" /> -->
            </div>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="tidings.html" class="">
                <div class="messgae"><span>10</span></div>
            </a>
        </div>
    </header>
    <div style="height: 49px;"></div>
    <!--图片轮换-->
    <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
        <ul class="am-slides">
            {% for foo in photo %}
                <li><a href="{% url "commodity:详情" foo.goods_sku.id %}"><img src="{{ MEDIA_URL }}{{ foo.photo_url }}"/></a>
                </li>
            {% endfor %}


        </ul>
    </div>
    <!--导航-->
    <ul class="sq-nav">
        <li>
            <div class="am-gallery-item">
                <a href="recharge.html" class="">
                    <img src="{% static "images/icon.png" %}"/>
                    <p>充值</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="javascript:;" class="index-qd">
                    <img src="{% static "images/icon1.png" %}"/>
                    <p>签到</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="yhq.html" class="">
                    <img src="{% static "images/icon2.png" %}"/>
                    <p>红包</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="" class="">
                    <img src="{% static "images/icon3.png" %}"/>
                    <p>即将上线</p>
                </a>
            </div>
        </li>
    </ul>
    <ul class="sq-nav1">
        <li>
            <div class="am-gallery-item">
                <a href="speed.html" class="">
                    <img src="{% static "images/icon4.png" %}"/>
                    <p>零食飞速</p>
                </a>
            </div>
        </li>
        <li>
            <div class="am-gallery-item">
                <a href="{% url "commodity:超市" 0 0 %}" class="">
                    <img src="{% static "images/icon5.png" %}"/>
                    <p>超市</p>
                </a>
            </div>
        </li>

    </ul>
    <div class="h-line"></div>
    <!--不规则展示-->
    <div class="index-product">
        <div class="index-pro-lf"><a href=""><img src="{% static "images/s1.png" %}"/></a></div>
        <div class="index-pro-lr"><a href=""><img src="{% static "images/s2.png" %}"/></a></div>
    </div>
    <div class="product-bot">
        <div class="product-bot-lf"><a href=""><img src="{% static "images/s3.png" %}"/></a></div>
        <div class="product-bot-lr">
            <div class="top"><a href=""><img src="{% static "images/s4.png" %}"/></a></div>
            <div class="bot">
                <div class="bot-lf"><a href=""><img src="{% static "images/s5.png" %}"/></a></div>
                <div class="bot-lr"><a href=""><img src="{% static "images/s6.png" %}"/></a></div>
            </div>
        </div>
    </div>
    <!--不规则展示-->
    <div class="h-line"></div>
    <!-- 特色专区-->
    {% for datum in data %}
        <div class="sq-title">
            <img src="{% static "images/ts.png" %}" width="26"/>
            {{ datum.name }}
            <ul data-am-widget="gallery"
                class="am-gallery pro-list am-avg-sm-2 am-avg-md-2 am-avg-lg-4 am-gallery-default">
                {% for activitygoods in datum.activitygoods_set.all %}
                    <li>
                        <div class="am-gallery-item">
                            <a href="{% url "commodity:详情" activitygoods.goods_sku.id %}" class="">
                                <img src=" {{ MEDIA_URL }}{{ activitygoods.goods_sku.logo }}"/>
                                <h3 class="am-gallery-title">{{ activitygoods.goods_sku.sku_name }}</h3>
                                <div class="am-gallery-desc">￥{{ activitygoods.goods_sku.price }}</div>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}

    <!--签到-->
    <div class="qd-box">
        <div class="popup-title">
            <span>签到成功</span>
            <div class="popup-close"><i class="iconfont">&#xe602</i></div>
        </div>
        <div class="dq-text">
            <img src="{% static "images/qiandao.png" %}" width="40"/>&nbsp; 您已连续签到3天
        </div>
    </div>
    <!--签到-->

{% endblock %}
{% block fott_js %}
    <script type='text/javascript'>
        (function () {
            new PopUp_api({el: '.index-qd', html: '.qd-box'});
        })()
    </script>

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/amazeui.min.js" %}"></script>
    </body>
{% endblock %}

