{% extends "user/header.html" %}
{% load static %}
{% block title %}
    收货地址
{% endblock %}
{% block content %}
    <header data-am-widget="header" class="am-header am-header-default sq-head ">
        <div class="am-header-left am-header-nav">
            <a href="javascript:history.back()" class="">
                <i class="am-icon-chevron-left"></i>
            </a>
        </div>
        <h1 class="am-header-title">
            <a href="" class="">管理收货地址</a>
        </h1>
        <div class="am-header-right am-header-nav">
            <a href="address.html" class="">
                <i class="am-icon-plus"></i>
            </a>
        </div>
    </header>
    <ul class="address-list">
        <li class="curr">
            <p>收货人：徐女士&nbsp;&nbsp;182********</p>
            <p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
            <hr/>
            <div class="address-cz">
                <label class="am-radio am-warning">
                    <input type="radio" name="radio3" value="" data-am-ucheck checked> 设为默认
                </label>
                <a href=""><img src="{% static "images/bj.png" %}" width="18"/>&nbsp;编辑</a>
                <a href="">删除</a>
            </div>
        </li>
        <li>
            <p>收货人：徐女士&nbsp;&nbsp;182********</p>
            <p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
            <hr/>
            <div class="address-cz">
                <label class="am-radio am-warning">
                    <input type="radio" name="radio3" value="" data-am-ucheck> 设为默认
                </label>
                <a href=""><img src="{% static "images/bj.png" %}" width="18"/>&nbsp;编辑</a>
                <a href="">删除</a>
            </div>
        </li>
        <li>
            <p>收货人：徐女士&nbsp;&nbsp;182********</p>
            <p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
            <hr/>
            <div class="address-cz">
                <label class="am-radio am-warning">
                    <input type="radio" name="radio3" value="" data-am-ucheck> 设为默认
                </label>
                <a href=""><img src="{% static "images/bj.png" %}" width="18"/>&nbsp;编辑</a>
                <a href="">删除</a>
            </div>
        </li>
        <li>
            <p>收货人：徐女士&nbsp;&nbsp;182********</p>
            <p class="order-add1">收货地址：江西省南昌市 青云谱区解放西路258号江西省南昌市 青云谱区解放西路258号</p>
            <hr/>
            <div class="address-cz">
                <label class="am-radio am-warning">
                    <input type="radio" name="radio3" value="" data-am-ucheck> 设为默认
                </label>
                <a href=""><img src="{% static "images/bj.png" %}" width="18"/>&nbsp;编辑</a>
                <a href="">删除</a>
            </div>
        </li>
    </ul>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/amazeui.min.js" %}"></script>
{% endblock %}